<div style="text-align:center">
    <div>
      <webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"
      ></webcam>
      <br/>
    </div>
    <div class="bottom-bar">
        <button class="snap" mat-raised-button color="primary" (click)="triggerSnapshot();">Snap</button>
    </div>
    <div class="stepper-container">
        <mat-horizontal-stepper (selectionChange)="stepChange($event)" class="stepper" [linear]="isLinear" #stepper>
            <mat-step [completed]="firstResult">
                <ng-template matStepLabel>Front</ng-template>
                Scan the front of your card.
                <pre *ngIf="firstResult">{{ firstResult | json }}</pre>
            </mat-step>
            <mat-step [completed]="secondResult">
              <form>
                <ng-template matStepLabel>Back</ng-template>
                Scan the back of your card.
                <pre *ngIf="secondResult">{{ secondResult | json }}</pre>

                <!-- <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div> -->
              </form>
            </mat-step>
            <mat-step [completed]="thirdResult">
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <button mat-button (click)="reset()">Reset</button>
                <button mat-button (click)="save()">Save</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>
  
  <!-- <div class="snapshot" *ngIf="webcamImage">
    <h2>Nice one!</h2>
    <img [src]="webcamImage.imageAsDataUrl"/>
  </div>
  
  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul> -->
