<div style="text-align:center">
    <div>
      <!-- <webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"
      ></webcam> -->
      <button class="snap" style="margin: 10px" mat-raised-button color="warn" *ngIf="!showCam" (click)="showCam = true">Kamera Bekapcsolása</button>

      <ack-webcam *ngIf="showCam"
  #webcam
  [options]="options"
  [reflect]="false"
  [facingMode]="'environment'"
></ack-webcam>
      <br/>
    </div>
    <div class="bottom-bar">
        <button *ngIf="selectedIndex !== 3" class="snap" mat-raised-button color="primary" (click)="triggerSnapshot();">Mehet</button>
        <button *ngIf="selectedIndex === 3" class="snap" mat-raised-button color="primary" (click)="save();">Letöltés</button>
    </div>
    <div class="stepper-container">
        <mat-vertical-stepper (selectionChange)="stepChange($event)" class="stepper" [linear]="isLinear" #stepper>
            <mat-step [completed]="firstResult">
                <ng-template matStepLabel>Személyi eleje</ng-template>
                Személyazonosító igazolvány arcképes oldala.
                <!-- <pre *ngIf="firstResult">{{ firstResult | json }}</pre> -->
            </mat-step>
            <mat-step [completed]="secondResult">
              <form>
                <ng-template matStepLabel>Személyi hátulja</ng-template>
                Személyazonosító igazolvány háulsó oldala.
                <!-- <pre *ngIf="secondResult">{{ secondResult | json }}</pre> -->

                <!-- <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div> -->
              </form>
            </mat-step>
            <mat-step [completed]="thirdResult">
              <form>
                <ng-template matStepLabel>Lakcímkártya hátulja</ng-template>
                Lakcímet igazoló kártya lakóhelyet jelölő oldala.
                <!-- <pre *ngIf="thirdResult">{{ thirdResult | json }}</pre> -->

                <!-- <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div> -->
              </form>
            </mat-step>
            <mat-step [completed]="doneResult">
              <ng-template matStepLabel>Kész</ng-template>
              <p>Már készen is van.</p>
              <div>
                <!-- <button mat-button matStepperPrevious>Back</button> -->
                <button mat-raised-button color="warn" (click)="reset()">Újrakezdés</button>
                <!-- <button mat-button (click)="save()">Letöltés</button> -->
              </div>
            </mat-step>
          </mat-vertical-stepper>
    </div>
</div>
